* {
  margin: 0 auto;
}

.App {
  text-align: center;
}

.App Header {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  height: 150px;
  padding: 20px;
  color: white;
}

Header nav ul {
  display: flex;
  outline: 1px solid gray;
}
